:root {
    --navbar-color: red;
    --main-color: blue;
    --footer-color: green;
    --article-color: lightgray;
    --text-color: darkgrey;
    --main-width: 40rem;
    --navbar-min-height: 5em;
    --navbar-max-height: 5em;
    --footer-min-height: 2em;
    --footer-max-height: 2em;

}

html, body {
    margin:0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
}

body {
    display:grid;
    grid-template-rows: minmax(var(--navbar-min-height), var(--navbar-max-height)) 1fr var(--footer-min-height);
    grid-template-columns: 1fr var(--main-width) 1fr;
    grid-template-areas:
        "nav nav nav"
        ". main ."
        "footer footer footer";

}

.navbar {
    background-color: var(--navbar-color);
    grid-area: nav;
    position: sticky;

}

.navbar__container {
    max-width: var(--main-width);
    min-height: var(--navbar-min-height);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    height: 100%
}

.navbar__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    background-color: var(--main-color);
    grid-area: main;
}

.main__container {
    display: flex;
    flex-direction: column;
    max-width: var(--main-width);
    /*margin: auto;*/
    background-color: var(--article-color);
    height: 100%;
    padding: 0 1em 0 1em;
}

.main__header {

}

.main_title {

}

.main_date {

}

.main_reading_time {

}

.main_tags {

}

.main_tag {

}

.main__article {
    flex-grow: 1;
}

.main__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 2em;

}

.main_nav_link {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: var(--footer-color);
    grid-area: footer;
}

.footer__container {
    max-width: var(--main-width);
    min-height: var(--footer-min-height);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}