:root {
    --navbar-color: white;
    --main-color: blue;
    --footer-color: green;
    --article-color: lightgray;
    --text-color: darkgrey;
    --main-min-width: 5rem;
    --main-max-width: 65rem;
    --navbar-min-height: 3.5em;
    --navbar-max-height: 5em;
    --hero-min-height: 10px;
    --hero-max-height: 100vh;
    --footer-min-height: 2em;
    --footer-max-height: 3em;

    --background-color: #222222;
    --destaque-color: #d6960b;
    --light-background-color: #333333;

    --text-color: #d6d5cd;
    --c: #252525;
    --sutil-color: #6f6e6e;
    --c: #66ade4;
    --c: #4f4d4d;
    --c: #3664ad;
    --c: #9e3d27;
    --c: #284369;
    --c: #4c6472;
    --c: #264453;

    --text-font: 'Lato', sans-serif;
    --title-font: 'Roboto', sans-serif;

}

html, body {
    margin:0;
    padding: 0;
    min-height: 100vh;
    font-size: large;
    scrollbar-color: dark;
}

a {
    text-decoration: none;
    color: white
}


a:hover {
    color: var(--destaque-color);
}

.container {
    display:grid;
    grid-template-rows: min-content minmax(100vh, 1fr) min-content;
    grid-template-columns: 1fr minmax(var(--main-min-width), var(--main-max-width)) 1fr;
    grid-template-areas:
        "hero hero hero"
        ". main ."
        "footer footer footer";
    background-color: var(--background-color);
}

.spacer {
    grid-area: hero;
    height: 100px;
}

.navbar {
    position: fixed;
    min-width: 100vw;
    z-index: 10;
    padding: 0;
    color: lightgray;
    padding-top: 1em;

}

.navbar-colored {
    background-color: var(--navbar-color);
    text-decoration: none;
    padding-top: 0em;
}

.navbar-transparent {
    background-color: transparent;
    text-decoration: none;
    color: var(--text-color);
    padding-top: 1em;
}

.navbar__container {
    max-width: var(--main-max-width);
    min-height: var(--navbar-min-height);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

}

.navbar__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: var(--title-font);
    margin: 0 1rem 0 1rem;

}

.navbar__link-colored {
    color: var(--background-color);
}

.navbar__link-transparent {
    color: var(--text-color);
}


.navbar__link:hover {
    color: var(--destaque-color);
}

.hero {
    grid-area: hero;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/main_image_bw.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
    z-index: 0;
  }

.hero__title {
    text-align: center;
    font-size: 7vh;
    color: white;
    font-family: var(--title-font);
    z-index: 1;
}

.hero__subtitle {
    text-align: center;
    font-size: 2vh;
    color: lightgray;
    font-family: var(--title-font);
    margin: 1em;
    z-index: 1;
}
.main {
    background-color: var(--background-color);
    grid-area: main;
}

.main__container {
    display: flex;
    flex-direction: column;
    max-width: var(--main-width);
    background-color: var(--light-background-color);
    padding: 0em 1em 0 1em;
    margin: 2em;

}

.main__container-transparent {
    background-color: transparent;
}

.main__header {
    margin: 2em;
}

.main_title {
    color: var(--destaque-color);
    font-family: var(--title-font);

}

.main_date {
    color: var(--sutil-color);
    font-family: var(--text-font);

}

.main_reading_time {

}

.main_tags {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.main_tag {
    font-family: var(--text-font);
    font-size: 1.1em;
    margin-right: 1em;
}

.main__article {
    flex-grow: 1;
    color: var(--text-color);
    font-family: var(--text-font);
    margin: 0 2em 2em 2em;
}

.main__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 2em;
    margin: 2em;

}

.main__image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main__figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main_nav_link {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    color: var(--sutil-color);
}

.main_nav_link > a {
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--sutil-color);
}

.main_nav_link > a:hover {
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--destaque-color);
}


.footer {
    background-color: var(--light-background-color);
    grid-area: footer;
    color: var(--text-color);
    font-family: var(--text-font);
}

.footer__container {
    max-width: var(--main-width);
    min-height: var(--footer-min-height);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
}

.aboutme__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.aboutme__image {
    max-width: 400px;
    max-height: 400px;
    filter: grayscale(100%);
    display: block;
    width: 100%;
    height: auto;
}

.aboutme__text {
    color: var(--text-color);
    font-family: var(--text-font);
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
}

.aboutme_title {
    color: var(--destaque-color);
    font-family: var(--title-font);
}

.aboutme__contact {
    background-color: var(--destaque-color);
    width: 5em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    border-radius: 10px;
}

.aboutme__contact:hover {
    background-color: var(--text-color);
    color: var(--background-color)
}

.resume__container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.resume__header {
    font-family: var(--title-font);
    color: var(--destaque-color);
    text-align: center;
}

.resume__contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resume__section {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    justify-content: center;
    gap: 1em;
    max-width: 45%;
    min-width: 300px;
}

.resume__section_title {
    font-family: var(--title-font);
    max-height: 10px;
}

.resume__item {
    background-color: var(--light-background-color);
    border-radius: 10px;
    padding: 1em;
    font-family: var(--text-font);
}

.resume__date {
    color: var(--sutil-color);
}

.resume_title {
    color: var(--destaque-color)
}

.resume__institution {
    color: var(--sutil-color);
}

/*---------------------------------------------------------------------------------*/
.posts_container {
    display: grid;
    grid-template-rows: repeat(auto-fill);
    gap: 1rem;
}

.post_card {
    background-color: var(--light-background-color);
    border-radius: 15px;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
}

.post_date {
    text-align: right;
    padding: 0 2rem 0 2rem;
    font-family: var(--text-font);
    color: var(--text-color);
}

.post_info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 1rem 1rem 0rem;
    gap: 10px;
}

.post_title {
    font-family: var(--title-font);
    color: var(--destaque-color);
    font-size: larger;
}

.post_tag {
    font-family: var(--text-font);
}

@media screen and (max-width: 900px) {
    .main__container {
        padding: 1em;
        margin: 0em;
    }
  }

